<form onsubmit="return false;" id="delete-product-form" load-sku="">
  <div class="modal fade" tabindex="-1" role="dialog" id="delete-product-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body text-center">
          <p><b>Are you sure you want to delete this product?</b></p>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-danger" value="Delete">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
