{% extends 'account/base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block style %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

    /* Reseting */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body{
      background: #00E5FF;
      min-height: 100vh;
    }

    .wrapper{
      max-width: 850px;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      display: flex;
      margin: 50px auto;
      box-shadow: 0 8px 20px 0px #1f1f1f1a;
      overflow: hidden;
    }

    .wrapper .form-left{
      background: #3786bd;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 20px 40px;
      position: relative;
      width: 100%;
      color: #fff;
    }

    .wrapper h2{
      font-weight: 700;
      font-size: 25px;
      padding: 5px 0 0;
      margin-bottom: 34px;
      pointer-events: none;
    }

    .wrapper .form-left p{
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.5;
      pointer-events: none;
    }

    .wrapper .form-left .text{
      margin: 20px 0 25px;
    }

    .wrapper .form-left p span{
      font-weight: 700;
    }

    .wrapper .form-left input{
      padding: 15px;
      background: #fff;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 180px;
      border: none;
      margin: 15px 0 50px 0px;
      cursor: pointer;
      color: #333;
      font-weight: 700;
      font-size: 0.9rem;
      appearance: unset;
      outline: none;
    }

    .wrapper .form-left input:hover{
      background-color: #f2f2f2;
    }

    .wrapper .form-right{
      padding: 20px 40px;
      position: relative;
      width: 100%;
    }

    .wrapper .form-right h2{
      color: #3786bd;
    }

    .wrapper .form-right label{
      font-weight: 600;
      font-size: 15px;
      color: #666;
      display: block;
      margin-bottom: 8px;
    }

    .wrapper .form-right .input-field{
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #e5e5e5;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      outline: none;
      color: #333;
    }

    .wrapper .form-right .input-field:focus{
      border: 1px solid #31a031;
    }


    .wrapper .option {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 12px;
      font-size: 0.95rem;
      font-weight: 900;
      cursor: pointer;
      user-select: none
    }

    .wrapper .option input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0
    }

    .wrapper .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 2px
    }

    .wrapper .option:hover input~.checkmark {
      background-color: #f1f1f1
    }

    .wrapper .option input:checked~.checkmark {
      border: 2px solid #e5e5e5;
      background-color: #fff;
      transition: 300ms ease-in-out all
    }

    .wrapper .checkmark:after {
      content: "\2713";
      position: absolute;
      display: none;
      color: #3786bd;
      font-size: 1rem;
    }

    .wrapper .option input:checked~.checkmark:after {
      display: block
    }

    .wrapper .option .checkmark:after {
      left: 2px;
      top: -4px;
      width: 5px;
      height: 10px
    }

    .wrapper .register{
      padding: 12px;
      background: #3786bd;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 130px;
      border: none;
      margin: 6px 0 50px 0px;
      cursor: pointer;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
    }

    .wrapper .register:hover{
      background-color: #3785bde0;
    }

    .wrapper a{
      text-decoration: none;
    }

    @media (max-width: 860.5px) {
      .wrapper{
        margin: 50px 5px;
      }
    }


    @media (max-width: 767.5px){
      .wrapper{
        flex-direction: column;
        margin: 30px 20px;
      }

      .wrapper .form-left{
        border-bottom-left-radius: 0px;
      }
    }

    @media (max-width: 575px) {
      .wrapper{
        margin: 30px 15px;
      }
      .wrapper .form-left{
        padding: 25px;
      }
      .wrapper .form-right{
        padding: 25px;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="form-left">
      <h2 class="text-uppercase">ECOM</h2>
      <div style="font-size: 15px;">
        Hello! My name is Reyhan Fikri Dzikriansyah and welcome to ECOM. ECOM is a simple E-Commerce website builded with Go backend microservices and Django frontend.
      </div>
      <br>
      <div style="font-size: 15px;">
        Disclaimer! I have zero real experience in building E-Commerce system, so if the system is really bad, I apologized in advance. This is just my personal project using Go microservices. You can use all the code of this project as a template for real E-Commerce in the future if you like it :)
      </div>
      <br>
      <div style="font-size: 15px;">
        Disclaimer again! I also not a frontend specialist, so I just use a free template I found in the internet and an original bootstrap template.
      </div><br>
      <div style="font-size: 15px;">
        This registration form is a template created by <a target="_blank" class="text text-info" href="https://bbbootstrap.com/snippets/bootstrap-5-user-registration-form-82669371">Anand Vunnam</a>
      </div>
      <br>
      <div>
        <a class="btn btn-sm btn-light" href="{% url 'account:login' %}">Have an account? Login here</a>
      </div>
    </div>
    <form id="register_form" class="form-right" onsubmit="return false;">
      <input type="hidden" name="login_url" value="{% url 'account:login' %}">

      <h2 class="text-uppercase">Register</h2>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="input-field" name="email" required>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <label>Password</label>
          <input type="password" name="password" id="password" class="input-field" required>
        </div>
        <div class="col-sm-6 mb-3">
          <label>Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm_password" class="input-field" required>
        </div>
      </div>
      <div class="mb-3">
        <label>Full Name</label>
        <input type="text" class="input-field" name="full_name" required>
      </div>
      <div class="mb-3">
        <label>Address</label>
        <input type="text" class="input-field" name="address" required>
      </div>
      <div class="mb-3">
        <label>Phone Number</label>
        <input type="number" class="input-field" name="phone_number" required>
      </div>
      <div class="mb-3">
        <label>Role</label>
        <select class="form-control" name="role" required>
          <option value="buyer">Buyer</option>
          <option value="seller">Seller</option>
          <option value="staff">Staff</option>
        </select>
      </div>
      <div class="form-field">
        <input type="submit" value="Register" class="register" name="register">
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
  <script src="{% static 'account/dist/js/register/register.js' %}"></script>
{% endblock %}
